In [2]:
from nba_api.stats.endpoints import teaminfocommon, commonplayoffseries, teamestimatedmetrics
from nba_api.stats.static import teams
from tqdm import tqdm
import pandas as pd
import numpy as np

In [3]:
#Collect data

In [4]:
team_ids = [i['id'] for i in teams.get_teams()]

In [5]:
seasons = [
    "2010-11",
    "2011-12",
    "2012-13",
    "2013-14",
    "2014-15",
    "2015-16",
    "2016-17",
    "2017-18",
    "2018-19",
    "2019-20",
    "2021-22",
    "2022-23",
    "2023-24"
]

In [6]:
emets = teamestimatedmetrics.TeamEstimatedMetrics(season="2015-16", season_type="Playoffs")

In [7]:
emets = emets.get_data_frames()

In [8]:
emets[0]

,TEAM_NAME,TEAM_ID,GP,W,L,W_PCT,MIN,E_OFF_RATING,E_DEF_RATING,E_NET_RATING,...,MIN_RANK,E_OFF_RATING_RANK,E_DEF_RATING_RANK,E_NET_RATING_RANK,E_AST_RATIO_RANK,E_OREB_PCT_RANK,E_DREB_PCT_RANK,E_REB_PCT_RANK,E_TM_TOV_PCT_RANK,E_PACE_RANK
0,Boston Celtics,1610612738,6,2,4,0.333,293.0,91.3,97.7,-6.3,...,11,14,1,10,9,12,1,8,12,1
1,Houston Rockets,1610612745,5,1,4,0.200,240.0,89.2,110.1,-20.9,...,13,16,13,15,14,1,7,4,16,1
2,Golden State Warriors,1610612744,24,15,9,0.625,1157.0,108.4,102.1,6.3,...,1,3,7,3,2,7,12,10,10,3
3,Portland Trail Blazers,1610612757,11,5,6,0.455,533.0,104.5,108.7,-4.2,...,6,6,12,9,7,5,9,5,6,4
4,Atlanta Hawks,1610612737,10,4,6,0.400,485.0,100.8,101.6,-0.8,...,7,10,5,8,3,13,11,9,13,5
5,Oklahoma City Thunder,1610612760,18,11,7,0.611,864.0,108.5,103.2,5.3,...,4,2,8,4,8,2,4,1,11,6
6,LA Clippers,1610612746,6,2,4,0.333,288.0,102.2,101.8,0.4,...,12,9,6,7,11,8,14,12,1,7
7,Dallas Mavericks,1610612742,5,1,4,0.200,240.0,99.3,117.7,-18.4,...,13,11,16,14,6,11,16,16,5,8
8,San Antonio Spurs,1610612759,10,6,4,0.600,480.0,107.1,99.5,7.6,...,8,5,4,2,4,14,13,13,4,9
9,Charlotte Hornets,1610612766,7,3,4,0.429,336.0,96.4,106.5,-10.1,...,9,13,11,13,16,16,8,15,2,10
10,Cleveland Cavaliers,1610612739,21,16,5,0.762,1008.0,112.5,103.5,9.0,...,2,1,9,1,5,4,3,2,7,11
11,Miami Heat,1610612748,14,7,7,0.500,687.0,103.1,98.2,5.0,...,5,8,2,5,12,10,2,3,9,12
12,Toronto Raptors,1610612761,20,10,10,0.500,975.0,99.0,105.6,-6.6,...,3,12,10,11,15,6,6,6,8,13
13,Indiana Pacers,1610612754,7,3,4,0.429,336.0,103.4,99.0,4.4,...,9,7,3,6,10,8,15,14,14,13
14,Memphis Grizzlies,1610612763,4,0,4,0.000,192.0,89.3,111.9,-22.6,...,15,15,14,16,13,3,5,7,15,15
15,Detroit Pistons,1610612765,4,0,4,0.000,192.0,107.4,115.8,-8.4,...,15,4,15,12,1,15,10,11,3,16

In [10]:
reg_season_data = []
playoff_data = []
for season in tqdm(seasons):
  reg_season = teamestimatedmetrics.TeamEstimatedMetrics(season=season, season_type="Regular Season")
  reg_season = reg_season.get_data_frames()[0]
  reg_season["SEASON"] = [season] * len(reg_season)

  playoffs = teamestimatedmetrics.TeamEstimatedMetrics(season=season, season_type="Playoffs")
  playoffs = playoffs.get_data_frames()[0]
  playoffs["SEASON"] = [season] * len(playoffs)

  reg_season_data.append(reg_season)
  playoff_data.append(playoffs)

reg_season_data = pd.concat(reg_season_data)
playoff_data = pd.concat(playoff_data)

reg_season_data.to_csv("reg_season_data.csv")
playoff_data.to_csv("playoff_data.csv")

100%|██████████| 13/13 [00:19<00:00,  1.52s/it]